<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/work/contact/contact.css">
  <title>Nile O'Meally</title>
</head>

<body>
  <div class="bgimage"></div>
  <div id="swup" class="main ">
    <div id="main__toggle" class="main__toggle">
      <p class="main__toggle__icon">
        <i class="fa fa-moon-o main__toggle__button" aria-hidden="true"></i></p>
    </div>
    <div id="main__name" class="main__name">
      <a href="/">
        <h1 class="main__name__name">Nile O'Meally</h1>
      </a>
      <h3 class="main__name__location"><i class="fa fa-map-marker" aria-hidden="true" style="color: red"></i>
        Melbourne,
        Australia
      </h3>

    </div>
    <div class="main__content">
      <div id="main__content__nav" class="main__content__nav">
        <div class="main__content__nav__link">
          <a href="/work">
            <h2 class="main__content__nav__link__item">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </h2>
          </a>
        </div>
        <div class="main__content__nav__previous">
          <h2 class="main__content__nav__previous__item">
            @ main
          </h2>
        </div>
        <div class="main__content__nav__current">
          <h2 class="main__content__nav__current__item">contact
        </div>
      </div>
      <div id="main__content__text" class="main__content__text">
        <h3 class="main__content__text__h3">Send me an email:</h3>
        <p class="main__content__text__sub">I am contactable at:</p>
        <p class="main__content__text__email">work.nile@omeally.me</p>
        <h3 class="main__content__text__h3">I don't disclose my mobile number publicly but if you would like to chat,
          feel
          free to ask!</h3>
      </div>
    </div>
    <div id="main__image" class="main__image">
      <img class="main__image__image"></img>
    </div>
    <div id="main__footer" class="main__footer">
      <div id="main__footer__text" class="main__footer__text">
        <p>Developed by <a href="http://alexanderharvey.xyz" style="text-decoration:none; color:black;">Alex Harvey</a>
        </p>
      </div>
    </div>
    <script type="text/javascript" src="/js/darkmode.js"></script>
</body>

</html>