/* Site Configuration */
* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: 10px;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

/* Animations */

.transition--fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition--fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition--fade {
  opacity: 0;
  transform: translateX(0);
}

.transition-swipe {
  transition: 500ms;
  transform: translateY(0);
}

html.is-animating .transition--swipe {
  transform: translateY(100px);
}

/* Colors */

* {
  --blur: rgba(0, 0, 0, 0.4);
}
/* ======================================================================================================================================================= */
/* HOME - CONTENT */
.home {
  display: grid;
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 4rem 1fr 1fr 4rem;
  grid-template-areas:
    'header header header header'
    'name name image image'
    'links links image image'
    'footer footer footer footer';
}

.home__toggle {
  grid-area: header;
  justify-self: end;
}

.home__toggle__icon {
  margin: 0;
  padding-top: 5rem;
  font-size: 4rem;
}

.home__name {
  grid-area: name;
  justify-self: start;
  align-self: center;
}

.home__name__name {
  color: black;
  font-size: 6rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.home__name__location {
  font-size: 2rem;
  font-weight: 200;
}

.home__menu {
  grid-area: links;
  justify-self: start;
  align-self: center;
  overflow: hidden;
  scrollbar-width: none;
}

.home__menu__items {
  overflow-y: scroll;
}

.home__menu__item {
  font-size: 4rem;
  font-weight: normal;
  padding: 0.5rem 0 0.5rem 0;
  color: black;
}

.home__menu__item:hover {
  color: blue;
}

.home__image {
  grid-area: image;
  justify-self: center;
  align-self: center;
}

.home__image__image {
  width: 40vw;
  height: 50vh;
  background-color: grey;
}

/* Media Queries - home CONTENT */

/* FOOTER */
.home__footer {
  grid-area: footer;
  z-index: 10;
  display: grid;
  justify-self: center;
  align-items: center;
}
/* ======================================================================================================================================================= */
/* WORK - CONTENT*/
.work {
  display: grid;
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4rem 20rem 1fr 2fr 4rem;
  grid-template-areas:
    'header header header header'
    'name name image image'
    'bio bio image image'
    'links links image image'
    'footer footer footer footer';
}

.work__toggle {
  grid-area: header;
  justify-self: end;
}

.work__toggle__icon {
  margin: 0;
  padding-top: 5rem;
  font-size: 4rem;
}

.work__name {
  grid-area: name;
  justify-self: start;
  align-self: end;
}

.work__bio {
  grid-area: bio;
}

.work__bio__link {
  color: black;
  font-size: 2rem;
  font-weight: 200;
}

.work__bio__text {
  font-size: 1.5rem;
}

.work__name__name {
  color: black;
  font-size: 6rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.work__name__location {
  font-size: 2rem;
  font-weight: 200;
}

.work__menu {
  grid-area: links;
  justify-self: start;
  align-self: center;
  overflow: hidden;
  scrollbar-width: none;
}

.work__menu__items {
  overflow-y: scroll;
}

.work__menu__item {
  font-size: 4rem;
  font-weight: normal;
  padding: 0.5rem 0 0.5rem 0;
  color: black;
}

.work__menu__item:hover {
  color: blue;
}

.work__image {
  grid-area: image;
  justify-self: center;
  align-self: center;
}

.work__image__image {
  width: 40vw;
  height: 50vh;
  background-color: grey;
}

/* FOOTER */
.work__footer {
  grid-area: footer;
  z-index: 10;
  display: grid;
  justify-self: center;
  align-items: center;
}

/* ======================================================================================================================================================= */
/* PERSONAL CONTENT */
.personal {
  display: grid;
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4rem 20rem 1fr 2fr 4rem;
  grid-template-areas:
    'header header header header'
    'name name image image'
    'bio bio image image'
    'links links image image'
    'footer footer footer footer';
}

.personal__toggle {
  grid-area: header;
  justify-self: end;
}

.personal__toggle__icon {
  margin: 0;
  padding-top: 5rem;
  font-size: 4rem;
}

.personal__name {
  grid-area: name;
  justify-self: start;
  align-self: end;
}

.personal__bio {
  grid-area: bio;
}

.personal__bio__link {
  color: black;
  font-size: 2rem;
  font-weight: 200;
}

.personal__bio__text {
  font-size: 1.5rem;
}

.personal__name__name {
  color: black;
  font-size: 6rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.personal__name__location {
  font-size: 2rem;
  font-weight: 200;
}

.personal__menu {
  grid-area: links;
  justify-self: start;
  align-self: center;
  overflow: hidden;
  scrollbar-width: none;
}

.personal__menu__items {
  overflow-y: scroll;
}

.personal__menu__item {
  font-size: 4rem;
  font-weight: normal;
  padding: 0.5rem 0 0.5rem 0;
  color: black;
}

.personal__menu__item:hover {
  color: blue;
}

.personal__image {
  grid-area: image;
  justify-self: center;
  align-self: center;
}

.personal__image__image {
  width: 40vw;
  height: 50vh;
  background-color: grey;
}

/* FOOTER */
.personal__footer {
  grid-area: footer;
  z-index: 10;
  display: grid;
  justify-self: center;
  align-items: center;
}
/* ============================================================================================================================================================== */
/* CV - CONTENT */
.cv {
  display: grid;
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  gap: 1rem;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4rem auto auto auto 4rem;
  grid-template-areas:
    'header header header header'
    'name name name name'
    'nav nav nav download'
    'cv cv cv cv'
    'footer footer footer footer';
}

.cv__toggle {
  grid-area: header;
  justify-self: end;
}

.cv__toggle__icon {
  margin: 0;
  padding-top: 5rem;
  font-size: 4rem;
}

.cv__name {
  grid-area: name;
  justify-self: start;
  align-self: end;
}

.cv__nav {
  grid-area: nav;
}

.cv__download {
  color: black;
  grid-area: download;
  justify-self: center;
  align-self: center;
}

.cv__download__item {
  font-size: 2rem;
  color: black;
}

.cv__bio__link {
  font-size: 2rem;
  color: black;
  font-weight: 200;
}

.cv__name__name {
  color: black;
  font-size: 6rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.cv__name__location {
  font-size: 2rem;
  font-weight: 200;
}

.cv-content {
  grid-area: cv;
  overflow-y: scroll;
  scrollbar-width: none;
}
.cv-content__header {
  font-size: 3rem;
  font-weight: normal;
}

.cv-content__subtitle {
  font-size: 1.5rem;
  font-weight: normal;
}

/* FOOTER */
.cv__footer {
  grid-area: footer;
  /* background-color: var(--blur); */
  z-index: 10;
  display: grid;
  justify-self: center;
  align-items: center;
}

/* ======================================================================================================================================================= */
/* Contact - CONTENT */
.contact {
  display: grid;
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 2fr 1fr auto;
  grid-template-rows: auto 1fr 4fr 4rem;
  grid-template-areas:
    'name name . . toggle'
    'nav nav image image .'
    'content content image image .'
    'footer footer footer footer .';
}

.contact__toggle {
  grid-area: toggle;
  justify-self: end;
}

.contact__toggle__icon {
  padding-top: 5rem;

  font-size: 4rem;
}

.contact__name {
  padding-top: 10rem;
  grid-area: name;
  justify-self: start;
  align-self: center;
}

.contact__name__name {
  color: black;
  font-size: 6rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.contact__name__location {
  font-size: 2rem;
  font-weight: 200;
}

.contact__nav {
  grid-area: nav;
}

.contact__nav__link {
  font-size: 2rem;
  font-weight: 200;
}

.contact__nav__link__icon {
  font-size: 2em;
  font-weight: 100;
}

.contact__content {
  grid-area: content;
}

.contact__content__header {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.contact__content__sub {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}
.contact__content__email {
  font-size: 2rem;
  margin: 0;
}

.contact__content__p {
  font-size: 2rem;
  font-weight: normal;
}

.contact__image {
  grid-area: image;
  justify-self: end;
  align-self: start;
}

.contact__image__image {
  width: 40vw;
  height: 50vh;
  background-color: grey;
}

/* Media Queries - contact CONTENT */

/* FOOTER */
.contact__footer {
  grid-area: footer;
  z-index: 10;
  display: grid;
  justify-self: center;
  align-items: center;
}
