.main {
  display: grid;
  max-width: 80vw;
  margin: 0 auto;

  grid-template-columns: 1fr 1fr 2fr 1fr 0.1fr;
  grid-template-rows: 1fr 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas:
    'name    name   .      .      toggle'
    'cont    cont   cont   cont  .'
    'cont    cont   cont   cont  .'
    'cont    cont   cont   cont  .'
    'footer  footer footer footer footer';
}

.main__content {
  grid-area: cont;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr 3fr;
  grid-template-areas:
    'nav'
    'cont'
    'cont';
}

.main__content__nav {
  display: grid;
  grid-template-columns: 0.05fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'arrow previous download'
    'arrow current  download';
}

.main__content__nav__link {
  grid-area: arrow;
  justify-self: start;
  align-self: center;
}

.main__content__nav__link__item:hover {
  color: var(--purple);
}

.main__content__nav__link__item {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-weight: normal;
  color: black;
}

.main__content__nav__previous {
  grid-area: previous;
  justify-self: start;
  align-self: end;
}

.main__content__nav__previous__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  grid-area: previous;
  justify-self: start;
  align-self: end;
}

.main__content__nav__current {
  grid-area: current;
  justify-self: start;
  align-self: start;
}

.main__content__nav__currrent__text {
  margin: 0;
  padding: 0;
  grid-area: current;
  font-size: 2rem;
  font-weight: normal;
  justify-self: start;
  align-self: start;
}

.main__content__nav__download {
  grid-area: download;
  justify-self: end;
  align-self: center;
}

.main__content__nav__download__item {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: black;
  font-weight: normal;
}

.main__content__nav {
  grid-area: nav;
}

.main__content__nav__link {
  color: black;
  margin: 0;
  font-size: 3rem;
  font-weight: 200;
}

.main__content__resume {
  grid-area: cont;
}

.main__content__resume__header {
  font-size: 2.5rem;
  font-weight: normal;
}

.main__content__resume__subtitle {
  font-size: 1.5rem;
}

/* MEDIA Queries */
/* Mobile */
@media (min-width: 0) and (max-width: 480px) {
  .main {
    gap: 0;
    grid-template-columns: 10fr 1fr !important;
    grid-template-rows: auto auto auto;
    grid-template:
      'name toggle'
      'cont cont'
      'footer footer';
  }
  .main__name {
    justify-self: start;
    align-self: start;
    margin: 0;
  }
  .main__name__name {
    margin: 3rem 0 0 0;
    padding: 0;
    font-size: 3rem;
  }
  .main__toggle {
    margin: 3rem 0 0 0;
    padding: 0;
  }

  .main__content__nav__previous {
    margin: 0 0 0 1rem;
  }
  .main__content__nav__current {
    margin: 0 0 0 1rem;
  }
}
