<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/personal/personal.css">

  <title>Nile O'Meally</title>
</head>

<body>
  <div class="bgimage"></div>
  <div class="main ">
    <div id="main__toggle" class="main__toggle">
      <p class="main__toggle__icon">
        <i class="fa fa-moon-o main__toggle__button" aria-hidden="true"></i></p>
    </div>
    <div id="main__name" class="main__name">
      <a href="/" class="">
        <h1 class="main__name__name">Nile O'Meally</h1>
      </a>
      <h3 class="main__name__location"><i class="fa fa-map-marker" aria-hidden="true" style="color: red"></i>
        Melbourne, Australia
      </h3>
    </div>
    <div class="main__content">
      <div id="main__content__nav" class="main__content__nav">
        <div class="main__content__nav__link">
          <a class="main__content__nav__link" href="/">
            <h2 class="main__content__nav__link__item">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </h2>
          </a>
        </div>
        <div class="main__content__nav__current">
          <h2 class="main__content__nav__current__item">@ main
        </div>

      </div>

      <div id="main__menu" class="main__content__menu">
        <div id="main__menu__items" class="main__content__menu__items">
          <a href="https://instagram.com/omeallynile">
            <h2 class="main__content__menu__item tooltip">instagram</br>
              <div class="right">
                <img src="/images/qrcodes/instagram.svg" />
                <div class="main__content__menu__qrcode__text-content">
                </div>
              </div>
            </h2>
            <p class="main__content__menu__item__sub">@omeallynile</p>

          </a>
          <a href="https://twitter.com/liiiketheriver">
            <h2 class="main__content__menu__item tooltip">twitter</br>
              <div class="right">
                <img src="/images/qrcodes/twitter.svg" />
                <div class="main__content__menu__qrcode__text-content">
                </div>
              </div>
            </h2>
            <p class="main__content__menu__item__sub">@liiiiketheriver</p>

          </a>
          <a href="https://m.me/omeallynile">
            <h2 class="main__content__menu__item tooltip">messenger</br>
              <div class="right">
                <img src="/images/qrcodes/messenger.svg" />
                <div class="main__content__menu__qrcode__text-content">
                </div>
              </div>
            </h2>
            <p class="main__content__menu__item__sub">@omeallynile</p>
          </a>
          <a href="mailto:omeallynile@gmail.com">
            <h2 class="main__content__menu__item tooltip">Mail Me</br>
              <div class="right">
                <img src="/images/qrcodes/mailto.svg" />
                <div class="main__content__menu__qrcode__text-content">
                </div>
              </div>
            </h2>
            <p class="main__content__menu__item__sub">omeallynile@gmail.com</p>
          </a>
          <a href="https://nile.substack.com">
            <h2 class="main__content__menu__item tooltip">Stuff on substack</br>
              <div class="right">
                <img src="/images/qrcodes/stuff.svg" />
                <div class="main__content__menu__qrcode__text-content">
                </div>
              </div>
            </h2>
            <p class="main__content__menu__item__sub">nile.substack.com</p>
          </a>
          <a href="https://medium.com/@omeallynile">
            <h2 class="main__content__menu__item tooltip">Medium</br>
              <div class="right">
                <img src="/images/qrcodes/medium.svg" />
                <div class="main__content__menu__qrcode__text-content">
                </div>
              </div>
            </h2>
            <p class="main__content__menu__item__sub">@omeallynile</p>
          </a>
          <a href="/personal/referrals">
            <h2 class="main__content__menu__item">referrals</h2>
          </a>

        </div>
      </div>
    </div>



    <div id="main__image" class="main__image">
      <img class="main__image__image"></img>
    </div>
    <div id="main__footer" class="main__footer">
      <div id="main__footer__text" class="main__footer__text">
        <p>Developed by <a href="http://alexanderharvey.xyz" style="text-decoration:none;">Alex Harvey</a></p>
      </div>

    </div>
  </div>

  <script type="text/javascript" src="/js/darkmode.js"></script>

</body>

</html>