<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">



  <title>Nile O'Meally</title>
</head>

<body class="body">

  <div id="main" class="main">

    <div id="" class="main__toggle">
      <p class="main__toggle__icon">
        <i class="fa fa-moon-o main__toggle__button" aria-hidden="true"></i></p>
    </div>
    <div id="main__name" class="main__name">
      <h1 id="main__name__name" class="main__name__name">Nile O'Meally</h1>
      <!-- Change location  -->
      <h3 class="main__name__location"><i class="fa fa-map-marker" aria-hidden="true" style="color: red"></i> Melbourne,
        Australia
      </h3>
    </div>
    <div id="main__menu" class="main__menu">
      <div id="main__menu__items" class="main__menu__items animsition">
        <a class="animsition-fade" href="./work">
          <h2 id="main__menu__item1" class="main__menu__item ">work</h2>
        </a>
        <a href="./personal">
          <h2 id="main__menu__item2" class="main__menu__item ">personal</h2>
        </a>
      </div>
    </div>
    <div id="main__image" class="main__image">
      <img class="main__image__image"></img>
    </div>
    <div id="footer" class="main__footer">
      <div id="footer__text" class="main__footer">
        <p>Developed by <a href="http://alexanderharvey.xyz" class="footer__devname" style="text-decoration:none">Alexander
            Harvey</a>
        </p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/darkmode.js"></script>
</body>

</html>