/* Site Configuration */
* {
  box-sizing: border-box;
  font-family: 'Open Sans, Helvetica, Arial, sans-serif';
  font-size: 10px;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

/* Colors */

:root {
  --blur: rgba(0, 0, 0, 0.4);
  --purple: #7000ff;
}

/* Animations */

.transition--fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition--fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition--fade {
  opacity: 0;
  transform: translateX(0);
}

.transition-swipe {
  transition: 500ms;
  transform: translateY(0);
}

html.is-animating .transition--swipe {
  transform: translateY(100px);
}

/* Colors */

/* ======================================================================================================================================================= */
/* HOME - CONTENT */

/* Main */

.main {
  display: grid;
  max-width: 80vw;
  min-height: 100vh;
  position: sticky;
  margin: 0 auto;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 2fr 1fr 0.1fr;
  grid-template-rows: 1fr 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas:
    'name   name   .      .      toggle'
    'name   name   image  image  image'
    'links  links  image  image  image'
    'links  links  image  image  image'
    'footer footer footer footer footer';
}

/* Header */

.main__toggle {
  grid-area: toggle;

  justify-self: start;
  align-self: center;
}

.main__toggle__icon {
  margin: 0;
  padding-right: 5rem;
  font-size: 4rem;
}

.main__name {
  grid-area: name;
  margin-top: 5rem;
  justify-self: start;
  align-self: center;
}

.main__name__name {
  color: black;
  font-size: 6rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.main__name__location {
  font-size: 2rem;
  font-weight: 200;
}

.main__menu {
  grid-area: links;
  justify-self: start;
  align-self: center;
  overflow: hidden;
  scrollbar-width: none;
}

.main__menu__items {
  overflow-y: scroll;
}

.main__menu__item {
  position: relative;
  font-size: 4rem;
  font-weight: normal;
  padding: 0.5rem 0 0.5rem 0;
  color: black;
}

.main__menu__item:hover {
  display: block;
  content: '';
  border-bottom: 0.5rem solid #7000ff;
  /* border-radius: 1rem; */
}

.main__image {
  grid-area: image;
  justify-self: center;
  align-self: start;
}

.main__image__image {
  background: url('/images/work.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
  width: 40vw;
  background-color: grey;
}
/* FOOTER */
.main__footer {
  z-index: 11;
  /* height: 5vh; */
  width: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: sticky;
  bottom: 0;
  grid-area: footer;
  display: grid;
}

.main__footer__text {
  justify-self: center;
}
/* Media Queries - main CONTENT */
/* Mobile */
@media (max-width: 480px) {
  .main {
    max-width: 80vw;
    grid-template-columns: 10fr 0.025fr;
    grid-template-rows: 0.025fr 1fr 3fr 1fr;
    grid-template-areas:
      '.      toggle'
      'name   name'
      'links  links'
      'footer footer';
  }
  .main__image {
    display: none;
  }
  .main__bio__text {
    font-size: 0.5rem;
  }
  .main__name__name {
    margin-top: 3rem;
    font-size: 4rem;
  }
  .main__name__location {
    font-size: 1rem;
    margin: 0;
  }

  .main__menu__item {
    font-size: 3rem;
  }
  .main__toggle {
    margin: 4rem 0 0 0;
    padding: 0;
  }
  .main__toggle__icon {
    margin: 0;
    padding: 4fr 0 0 0;
    padding-right: 1rem;
    font-size: 3.25rem;
  }
}

/* Ipad */
@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'name toggle'
      'links image'
      'footer footer';
  }
  .main__toggle {
    margin: 0;
    padding: 9rem 0 0 0;
    justify-self: end;
    align-self: start;
  }

  .main__toggle__icon {
    margin: 0;
    padding-right: 0rem;
  }
}

/* Animations */

.transition-fade {
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}
