<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="/css/work/work.css">
  <title>Nile O'Meally</title>
</head>

<body>
  <div id="bgimage" class="bgimage">

  </div>
  <div class="main">
    <div id="main__toggle" class="main__toggle">
      <p class="main__toggle__icon">
        <i class="fa fa-moon-o main__toggle__button" aria-hidden="true"></i></p>
    </div>
    <div id="main__name" class="main__name ">
      <a href="/" class="">
        <h1 class="main__name__name ">Nile O'Meally</h1>
      </a>
      <h3 class="main__name__location"><i class="fa fa-map-marker" aria-hidden="true" style="color: red"></i>
        Melbourne, Australia
      </h3>
    </div>
    <div class="main__content">
      <div id="main__content__nav" class="main__content__nav">
        <div class="main__content__nav__link">
          <a class="main__content__nav__link" href="/">
            <h2 class="main__content__nav__link__item">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </h2>
          </a>
        </div>
        <div class="main__content__nav__current">
          <h2 class="main__content__nav__current__item">@ main</h2>
        </div>

      </div>
      <!-- <div id="main__content__bio" class="main__content__bio">


      </div> -->

      <div id="main__content__menu" class="main__content__menu">
        <div id="main__content__menu__items" class="main__content__menu__items">
          <a href="https://www.linkedin.com/in/omeallynile/">
            <h2 class="main__content__menu__item">linkedin</h2>
          </a>
          <a href="/work/contact">
            <h2 class="main__content__menu__item">contact</h2>
          </a>
          <a href="#">
            <h2 class="main__content__menu__item">cv</h2>
          </a>
        </div>
      </div>
    </div>
    <div id="main__image" class="main__image">
      <img class="main__image__image"></img>
    </div>
    <div id="main__footer" class="main__footer">
      <div id="main__footer__text" class="main__footer__text">
        <p>Developed by <a href="http://alexanderharvey.xyz" style="text-decoration:none; color:black;">Alex Harvey</a>
        </p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/darkmode.js"></script>
</body>

</html>