.main {
  display: grid;
  max-width: 80vw;
  margin: 0 auto;
  overflow: visible;
  gap: 1rem;
  grid-template-columns: 2fr 1fr 3fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 0.25fr 1fr 1fr 0.12fr;
  grid-template-areas:
    'name    name   name   .      toggle'
    'cont    cont   image  image  .'
    'cont    cont   image  image  .'
    'cont    cont   .      .      .'
    'footer  footer footer footer footer';
}

.main__content {
  grid-area: cont;
}

.main__content {
  grid-area: cont;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3fr;
  grid-template-areas:
    'nav'
    'menu';
}

.main__content__nav {
  grid-area: nav;
  display: grid;
  overflow: visible;
  grid-template-columns: 0.5fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'link current'
    'link current';
}

.main__content__nav__link__item {
  color: black;
  margin: 0.2rem;
  font-size: 5rem;
  font-weight: normal;
}
.main__content__nav__link__item:hover {
  color: var(--purple);
}

.main__content__nav__link {
  grid-area: link;
  justify-self: start;
  align-self: center;
}

.main__content__nav__current {
  grid-area: current;
  justify-self: start;
  align-self: center;
}

.main__content__nav__current__item {
  font-size: 2rem;
  font-weight: normal;
}

.main__content__bio {
  grid-area: cont;
}

.main__content__bio__text {
  font-size: 1.5rem;
}

.main__content__menu {
  scrollbar-width: none;
  grid-area: menu;
}

.main__content__menu__item {
  position: relative;
  margin: 0;
  font-size: 4rem;
  font-weight: normal;
  padding: 0.5rem 0 0.5rem 0;
  color: black;
}
.main__content__menu__item__sub {
  font-size: 2rem;
  font-weight: normal;
  color: black;
  padding: 0.25rem 0 3rem 0;
  margin: 0;
}

.main__content__menu__item:hover {
  display: block;
  content: '';
  border-bottom: 0.5rem solid #7000ff;
  /* border-radius: 1rem; */
}

.main__content__menu__item:hover {
  display: fixed;
}

.tooltip .right {
  min-width: 20rem;
  max-width: 40rem;
  top: 50%;
  left: 90%;
  margin-left: 10rem;
  transform: translate(0, -50%);
  padding: 0;
  color: #eeeeee;
  background-color: #444444;
  font-weight: normal;
  font-size: 1.3rem;
  border-radius: 8px;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 0;
  transition: opacity 0.25s;
}

.tooltip:hover .right {
  visibility: visible;
  opacity: 1;
}

.tooltip .right img {
  width: 20rem;
  height: 20rem;
  border-radius: 8px 8px 0 0;
}
.tooltip .main__content__menu__qrcode__text-content {
  padding: 10px 20px;
  place-content: center;
}

.main__image {
  align-self: center;
  justify-self: center;
}

.main__image__image {
  background-image: url('/images/personal.jpg');
  height: 60vh;
  width: 40vw;
}

.qrcode {
  width: 200px;
  height: 200px;
}

/* Media Queries */
/* Mobile */
@media (min-width: 0) and (max-width: 480px) {
  .bgimage {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 0;
    background: url('/images/personal.jpg');
    background-size: cover;
    filter: blur(8px) opacity(25%);
  }
  .main {
    /* overflow: visible; */
    scrollbar-width: none;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr 12fr 0.5fr;
    grid-template-areas:
      'name   toggle'
      'cont   cont'
      'footer footer';
    max-height: 125vh;
  }

  .main__name {
    margin: 3rem 0 0 0;
  }
  .main__name__name {
    margin: 0;
    padding: 0;
    font-size: 3rem;
  }
  .main__toggle {
    align-self: center;
    padding: 2.5rem 0 1em 0;
  }

  .main__content {
    grid-template-rows: 1fr 1fr 10fr;
    max-height: 100vh;
    grid-template-areas:
      'nav'
      'cont'
      'menu';
  }

  .main__content__bio {
    font-size: 1.5rem;
  }

  .main__content__nav__link {
    font-size: 2rem !important;
  }

  .main__content__menu {
    max-height: 200px;
    /* overflow: visible; */
  }
  .main__content__menu__item {
    margin: 0rem 0;
    font-size: 2rem !important;
  }

  .main__content__menu__item__sub {
    font-size: 1rem;
  }
  .main__footer {
    position: sticky !important;
    bottom: 0 !important;
  }

  .right {
    display: none;
  }
}

/* IPAD */
@media (min-device-width: 480px) and (max-width: 768px) {
  .main {
    height: 100vh;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'name toggle'
      'cont image'
      'footer footer' !important;
  }
  .main__toggle {
    margin: 0;
    padding: 9rem 0 0 0;
    justify-self: end;
    align-self: start;
  }

  .main__toggle__icon {
    margin: 0;
    padding-right: 0rem;
  }

  .main__content__menu__item {
    font-size: 2rem;
    padding: 0.25rem 0 0.25rem 0;
  }

  .main__content__menu__item__sub {
    font-size: 1rem;
  }
}
