.main {
  display: grid;
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 2fr 1fr 0.1fr;
  grid-template-rows: 1fr 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas:
    'name    name   .      .      toggle'
    'cont    cont   image  image  .'
    'cont    cont   image  image  .'
    'cont    cont   image  image  .'
    'footer  footer footer footer footer';
}

@media (min-width: 0px) and (max-width: 480px) {
  .main {
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
      'name   toggle'
      'cont   cont'
      'cont   cont'
      'cont   cont'
      'footer footer';
  }
  .main__content {
    grid-template-rows: auto 2fr 3fr !important;
  }
  .main__content__nav__link {
    font-size: 2rem !important;
  }
  .main__content__text__h3 {
    font-size: 2rem !important;
  }
  .main__content__text__sub {
    font-size: 1.5rem !important;
  }
  .main__content__text__email {
    font-size: 1.5rem !important;
  }
}

.main__content {
  grid-area: cont;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 5fr;
  grid-template-areas:
    'nav'
    'cont';
}

.main__content__nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 0.5fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'link current'
    'link current';
}

.main__content__nav__link__item {
  color: black;
  margin: 0.2rem;
  font-size: 5rem;
  font-weight: normal;
}

.main__content__nav__link {
  grid-area: link;
  justify-self: start;
  align-self: center;
}

.main__content__nav__current {
  grid-area: current;
  justify-self: start;
  align-self: center;
}

.main__content__nav__current__item {
  font-size: 2rem;
  font-weight: normal;
}

.main__content__text {
  grid-area: cont;
}

.main__content__text__h3 {
  font-size: 3rem;
  font-weight: normal;
}

.main__content__text__sub {
  font-size: 2rem;
}

.main__content__text__email {
  font-size: 2rem;
}
